header {
  background-image: url(../img/header-bg1.jpg);
  background-size: cover;
  height: 438px;
  width: 100%;
  color: #fff;
  margin: 0 auto;
}
.header {
  height: 69px;
  width: 100%;
  background-color: rgba(49, 49, 49, 1);
}
.logo-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.block-menu {
  display: flex;
  margin: 0 auto;
  height: 70px;
}
.block-item1 {
  display: flex;
  justify-content: start;
  align-self: center;
}
.block-item2 {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: auto;
}
.block-item3 {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin-left: auto;
  padding: 23px;
  background-color: rgba(0, 0, 0, 1);
}
.logo-menu-item1 {
  justify-content: flex-start;
  align-self: center;
  align-items: flex-end;
  margin-left: 29px;
}
.logo-menu-item2 {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  align-self: center;
  margin-left: 27px;
}
.logo-menu-item3 {
  justify-content: center;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  padding-left: 35px;
  text-transform: uppercase;
  align-self: center;
}
.logo-menu-item4 {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  padding: 26px;
  text-transform: uppercase;
  align-self: center;
}
.logo-menu-item5 {
  align-self: center;
}
.block-menu:first-child {
  justify-content: flex-start;
}
.block-menu:nth-child() {
  justify-content: flex-end;
}
.menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.main-title {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  margin-top: 163px;
}
.main-link1 {
  text-decoration: none;
  color: white;
  padding: 22px;
  background-color: rgba(137, 202, 98, 1);
  border-radius: 4px;
  margin-right: 25px;
}
.main-block {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.main-link2 {
  text-decoration: none;
  color: white;
  padding: 22px;
  border: 1px solid black;
  background-color: rgba(20, 185, 213, 1);
  border-radius: 4px;
  margin-left: 25px;
}

.container-title {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: rgba(24, 180, 207, 1);
  text-align: center;
  text-transform: uppercase;
  padding-top: 49px;
  padding-bottom: 20px;
}
.background-color {
  background-color: rgba(242, 242, 242, 1);
}
.most-popular-posts {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
  flex-direction: column;
  height: 900px;
}
.post-item {
  width: 370px;
  padding: 15px;
  text-align: center;
}
.post-item-link {
  text-decoration: none;
  color: rgba(53, 58, 61, 1);
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
}
.post-item-link-text {
  background-color: white;
  display: flex;
  width: 340px;
  display: block;
  margin-top: 0;
  height: 61px;
  font-weight: bold;
}
.background-popular-clients {
  background: url(../img/parallax-bg1.jpg);
  height: 588px;
  background-size: cover;
}
.our-most-popular-clients {
  margin: 0 auto;
  width: 881px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "item1 item1 item1 item1"
    "item2 item2 item2 item2"
    "item3 item4 item5 item6";
  justify-items: center;
}
.our-most-popular-clients > div {
  padding-top: 107px;
}
.img-item1 {
  grid-area: item1;
}
.img-item2 {
  grid-area: item2;
}
.img-item3 {
  grid-area: item3;
}
.img-item4 {
  grid-area: item4;
}
.img-item5 {
  grid-area: item5;
}
.img-item6 {
  grid-area: item6;
}
.banner-title {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}
.item-line {
  color: rgba(24, 180, 207, 1);
  width: 60px;
  border: 2px solid rgba(24, 180, 207, 1);
  background: rgba(24, 180, 207, 1);
}
.top-rated-container {
  height: 324px;
}
.top-rated-box {
  padding-top: 52px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
.hot-news-container {
  height: 1683px;
  width: 1200px;
  margin: 0 auto;
}
.grid-hot-news {
  display: grid;
  padding-top: 51px;
  margin: 0 auto;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "item1 item1 item1 item2 "
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
  justify-items: center;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.hot-item1 {
  grid-area: item1;
}
.hot-item2 {
  grid-area: item2;
}
.hot-item3 {
  grid-area: item3;
}
.hot-item4 {
  grid-area: item4;
}
.hot-item5 {
  grid-area: item5;
}
.hot-item6 {
  grid-area: item6;
}
.hot-item7 {
  grid-area: item7;
}
.hot-item8 {
  grid-area: item8;
}

.mini-title-grid {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 15px;
}
.mini-text-grid {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: end;
  padding: 5;
}
.hotnews-item-link-text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  background-color: white;
  display: flex;
  width: 277px;
  display: block;
  margin-top: 0;
  height: 48px;
  padding: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.hot-img1 {
  float: left;
  height: 259px;
}

.hot-item3 {
  width: 554px;
  margin-left: 0;
  padding-left: 0;
}
.title-3 {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 15px;
  text-align: end;
}
.title-4 {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 15px;
  text-align: end;
}
.hot-item4 {
  width: 554px;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 40px;
}
.title-5 {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 15px;
  text-align: end;
}
.hot-item5 {
  width: 554px;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 40px;
}
.title-6 {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 15px;
  text-align: end;
}
.hot-item6 {
  width: 554px;
  margin-left: 0;
  padding-left: 0;
}
.hot-img8 {
  float: left;
  width: max-content;
}
footer {
  height: 80px;
  background-color: rgba(0, 0, 0, 1);
  margin-top: 77px;
  margin-bottom: 0;
}
.footer-items {
  width: 1000px;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  padding-top: 29px;
  grid-template-areas: "item1 .  item2";
}

.footer-text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: rgba(255, 255, 255, 1);
}
