.background-container {
  background-image: url(../img/background.png);
  background-size: cover;
}
.container {
  width: 1030px;
  margin: 0 auto;
  padding-top: 46px;
  min-height: 100vh;
}
.logo-link {
  text-decoration: none;
}
header {
  display: flex;
}
.logo-img {
  height: 47px;
  width: 53px;
  background-image: url(../img/logo.png);
}
.logo {
  color: rgba(255, 255, 255, 1);
  padding-left: 8px;
}
.text-1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
}
.text-2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
.contact {
  color: rgba(255, 255, 255, 1);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: auto;
}
.grid-container {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 17px;
  column-gap: 62px;
  padding-bottom: 48px;
}
.grid-item {
  position: relative;
}
.grid-item-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 37px;
}
.grid-item-text:hover {
  color: rgba(242, 101, 34, 1);
}
.footer-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-bottom: 15px;
}

.logo-img:hover {
  background-image: url(../img/logo2.png);
}
.contact:hover {
  color: rgba(242, 101, 34, 1);
}
.hover-grid-item {
  display: none;
  background-color: rgba(242, 101, 34, 1);
  position: absolute;
  bottom: 27%;
  height: 55px;
  width: 300px;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.from-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  padding-top: 7px;
  padding-left: 16px;
  padding-bottom: 8px;
}
.details {
  display: flex;
  padding-left: 16px;
}
.details-item1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}
.details-item2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  padding-left: 128px;
}
.right {
  border: solid rgba(255, 255, 255, 1);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  margin-left: 16px;
}
.logo-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.logo-link:hover {
  color: rgba(242, 101, 34, 1);
}
.item-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.item-link:hover {
  color: rgba(242, 101, 34, 1);
}

.grid-item:hover .hover-grid-item {
  display: block;
}
