@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

.background-image {
  background-image: url(../img/background.png);
  background-size: cover;
}
.container {
  min-height: 100vh;
  position: relative;
  display: grid;
}
header {
  height: 58px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-block {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  display: flex;
  margin-left: 7%;
  align-items: center;
}

.second-block {
  display: flex;
  margin-right: 7%;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  gap: 20px;
}
.block-item4 {
  border: 1px solid;
  height: 19px;
  box-sizing: initial;
}
.block-item5 {
  margin: auto;
  align-items: center;
}
.logo-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.logo-link:hover {
  color: rgba(60, 184, 120, 1);
}

.macaw:hover .img-color {
  fill: rgba(60, 184, 120, 1);
}
main {
  width: 100%;
}
.login-box {
  width: 444px;
  height: 584px;
  background-color: white;
  margin: 0 auto;
  position: relative;
}
.login-container {
  width: 324px;
  margin: 0 auto;
}
.signup-login {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
}
.signup {
  font-family: Ubuntu, sans-serif;
  font-style: bold;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: rgba(67, 67, 67, 1);
}
.login-link {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: rgba(60, 184, 120, 1);
}
.login-link:hover {
  text-decoration: underline;
  color: rgba(1, 129, 63, 1);
}
.square {
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: rgba(60, 184, 120, 1);
  left: 0;
}
.button-section {
  width: 324px;
  margin: 0 auto;
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
}
.button-background-first {
  background-color: rgba(48, 93, 184, 1);
  width: 160px;
  height: 48px;
  border-radius: 3px;
}
.button-background-second {
  background-color: rgba(223, 74, 50, 1);
  width: 160px;
  height: 48px;
  border-radius: 3px;
}
.button-box {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-box-item {
  color: rgba(255, 255, 255, 1);
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
.button-box-item:last-child {
  margin-right: 20px;
}
.blue-button {
  padding: 10px;
}

.orange-button {
  padding: 12px;
}
.button-link {
  text-decoration: none;
}
.button-background-first:hover {
  background-color: rgba(2, 34, 99, 1);
}
.button-background-second:hover {
  background-color: rgba(171, 31, 9, 1);
}
.or {
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: rgba(132, 132, 132, 1);
  text-align: center;
  margin-top: 31px;
}
.input-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 324px;
  margin: 0 auto;
}
input {
  padding: 10px;
  color: rgba(67, 67, 67, 1);
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  height: 44px;
  border: rgba(242, 242, 242, 1);
  border-radius: 1px;
  outline: none;
}
::placeholder {
  color: rgba(190, 190, 190, 1);
}
input:focus {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
  border: white;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 11px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}
.checkbox-link {
  text-decoration: none;
  color: #3cb878;
}
.input-item {
  height: 200px;
}
.checkbox-input:focus {
  box-shadow: none;
}
.checkbox-link:hover {
  color: #01813f;
  text-decoration: underline;
}
.submit-background-button {
  background-color: rgba(60, 184, 120, 0.8);
  height: 46px;
  width: 324px;
  color: rgba(255, 255, 255, 1);
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
.submit-background-button:hover {
  background-color: rgba(1, 129, 63, 1);
}
